<div class="content is-large">
    <h1>${title}</h1>
    <form action="/user/signup" method="POST" class="form">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="Han" />
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Solo" />
    </label>
    <label>
        Email Address
        <input type="email" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Your Password" />
    </label>
    <button type="submit" class="button is-primary">Sign Up</button>
    </form>
</div>
